/**************************/
/* HEADER */
/**************************/

.header {
  /* Because we want head to be stiky */
  height: 80vh;
  padding: 3rem 4.8rem;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/intro.jpg);
  background-size: contain;
  background-position: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin: auto 15rem;
}

.main-logo {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: #66a80f;
}

.logo {
  height: 2.2rem;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.h1-header {
  margin-top: 20rem;
  color: #fff;
  font-size: 14rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
}
.p-header {
  color: #fff;
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 4rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s #cf711f;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY "NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.945);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  /* remove drop by making section-hero same size */
  margin-top: 9.6rem;
}

/***********
/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
  padding: 9.6rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-img {
  width: 60%;
}
.image-div {
  text-align: center;
}

.rest-content {
  width: 60%;
}
.rest-h1 {
  color: #333;
  font-weight: 600;
  font-size: 4.5rem;
}
.border {
  border-bottom: 2px solid rgba(8, 141, 8, 0.966);
  margin: 2rem 0;
  width: 20%;
}

.rest-h2 {
  color: #333;
  font-weight: 500;
  font-size: 3rem;
  margin: 2rem 0;
}

.rest-p {
  color: #6f6f6f;
  font-weight: 300;
  font-size: 1.6rem;
}

/**************************/
/* MEALS MNEU */
/**************************/

.section-mneu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(../img/gallery/intro.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  height: 30vh;
}
.section-mneu2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(../img/food1.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  height: 30vh;
}
.mneu-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mneu-h2 {
  font-size: 5rem;
  padding-top: 10rem;
  color: rgb(255, 255, 255);
}

.mneu-border {
  border-bottom: 3px solid rgba(8, 141, 8, 0.966);
  margin: 2rem 0;
  width: 5%;
}

/**************************/
/* MEALS Meals */
/**************************/

.section-meals {
  padding: 9.6rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 65%;
  margin: 0 auto;
  column-gap: 15rem;
  row-gap: 9.6rem;
}
.mneu-h1 {
  color: #333;
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0 auto;
}

.mneu-border {
  border-bottom: 3px solid green;
  margin: 3rem auto;
  width: 8rem;
}

.mneu-content {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.meal-div {
  display: flex;
  justify-content: space-between;
}
.meal-name {
  color: #6f6f6f;
  font-weight: 700;
  font-size: 1.6rem;
}
.meal-border {
  border-bottom: 2px dotted;
  margin: 0 auto;
  color: #6f6f6f;
}
.meal-detail {
  display: flex;
  justify-content: center;
  color: #6f6f6f;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: start;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  padding: 9.6rem 0;
  align-items: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  margin-bottom: 9.6rem;
}
.cta-div {
  height: 25vh;
  background-color: #2b8a3e;
  margin-bottom: 9.6rem;
}
.cta-p {
  text-align: center;
  padding-top: 11rem;
  font-size: 4rem;
  color: #fff;
}
.mapouter {
  padding: 1rem 1rem;
  margin-bottom: 2rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e67e22; */
  box-shadow: 0 2.4rem 4.8rem rgba(97, 158, 62, 0.15);
  border-radius: 11px;

  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #333;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta .heading_secondary {
  color: #2e1907;
  margin-bottom: 3.2rem;
}

.cta-img-box {
  /* background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg"); */
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #66a80f2d;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* FOOTER*/
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-color: #212529;
}
.flex-footer {
  display: flex;
  justify-content: space-between;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  font-family: "Dancing Script", cursive;
  font-size: 4rem;
  color: #fff;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  padding-left: 4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #fffefe;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fffefe;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
